/* import fonts from fonts.css file*/
@import url(./fonts.css);

/* start navigation */

.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 2rem;
}

.header-area .main-menu .nav-item .nav-link {
  font-family: 'Montserrat', cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: rgb(158, 158, 158);
}

.header-area .main-menu .navbar-nav .active a {
  background: rgb(34, 195, 178);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(155, 45, 253, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: rgb(34, 195, 178);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(155, 45, 253, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

/* Banner Area */
.site-banner .site-title {
  padding: 8rem 0;
}

.site-banner .site-title h1::after {
  content: '';
  height: 2px;
  width: 8vw;
  background: dimgray;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-banner .site-title h1 {
  font-family: 'Montserrat', cursive;
  font-weight: 500;
  font-size: 2.8rem;
}

.site-banner .site-title h5 {
  font-family: 'Montserrat', cursive;
  font-weight: 500;
}

.site-banner .banner-image > img {
  padding: 5rem 0;
  width: 60%;
}

.site-button {
  position: relative;
  padding: 2rem 0;
  font: normal bold 16px/20px;
  font-family: 'Montserrat', cursive;
  border: 3px solid transparent;
  border-radius: 18px;
}

.site-button .primary-button {
  position: relative;
  background: rgb(34, 195, 178);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(155, 45, 253, 1) 100%
  );
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  border-radius: 18px;
  box-shadow: 5px 5px 10px #bababa, -5px -5px 10px;
}

.site-button .primary-button:hover {
  background: white;
  background-clip: padding-box;
  color: black;
  box-shadow: none;
}

.site-button .primary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: rgb(34, 195, 178);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(155, 45, 253, 1) 100%
  );
  content: '';
  z-index: -1;
  border-radius: 18px;
}

.site-button .secondary-button {
  position: relative;
  background: white;
  border-radius: 18px;
  background-clip: padding-box;
  transition: background 0.6s ease;
}

.site-button .secondary-button:hover {
  background: rgb(34, 195, 178);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(155, 45, 253, 1) 100%
  );
  color: white;
  border-radius: 18px;
  box-shadow: 5px 5px 10px #bababa, -5px -5px 10px;
}
.site-button .secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: rgb(34, 195, 178);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(155, 45, 253, 1) 100%
  );
  content: '';
  z-index: -1;
  border-radius: 18px;
}

/* End Banner Area */
img {
  width: 100%;
}
